{% extends 'base.html' %}


{% block content %}

<div>
    <table class="table-auto">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            {% for tenant in tenants %}
            <tr>
                <td>{{tenant.name}}</td>
                <td>{{tenant.email}}</td>
                <td>{{tenant.phone_number}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}